* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: midnightblue;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  color: white;
  font-size: 1.5rem;
}

.container {
  max-width: 30rem;
  border: 0.2rem solid white;
  border-radius: 0.7rem;
  padding: 3rem;
}

button {
  margin-top: 0.5rem;
  padding: 0.8rem 2rem;
  cursor: pointer;
  font-size: 1.2rem;
  background-color: midnightblue;
  border: 0.2rem solid white;
  border-radius: 0.7rem;
  color: white;
}

@media screen and (min-width: 320px) and (max-width: 530px) {
  .container {
    max-width: 15rem;
    font-size: 1rem;
    padding: 0.5rem;
  }

  .reveal-btn {
    font-size: 0.8rem;
    padding: 0.4rem 0.9rem;
  }
}

.hidden-content.reveal-btn {
  display: block;
}

.hidden-content {
  display: none;
}
